{% extends "layout.html" %}
{% block content %}

    <div class="content">
        <div class="row">
            <div class="custom-text-about ">
                <p>Place in a clean air zone</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="content-text">
                    <p>Are you looking for a place away from the city and hustle and bustle? A place that will surprise you with an extraordinary interior design, tasty food, and many offers for active recreation at any time of the year?
            You are at the right address!
            RyterSKi is a perfect place for unforgettable weekends and short family stays, holidays, business meetings, conferences, as well as for organizing active recreation for children and teenagers.
            Our location is the essence of relaxation in the mountains: contact with nature, amazing views and contemplation of the natures's beaut.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="content-about-img">
                    <img src="static/pictures/ski.png">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="contact-us">
                <p class="color1">
                        Contact Us:
                </p>
                <p class="color2">+48 882 807 112</p>
             </div>
        </div>
    </div>



{% endblock content%}