{% extends "layout.html" %}
{% block content %}

<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm">
                <thead>
                    <th>Nr</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th>Update</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    {% for key, product in session['Shoppingcart'].items() %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><img src="{{ url_for('static', filename='pictures/'+product.image) }}" alt="{{ product.name }}" width="50" height="45"></td>
                        <td>{{ product.name }}</td>
                        <form action="{{ url_for('updatecart', code=key) }}" method="post">
                        <td>
                            {% set sizes = product.sizes.split(',') %}
                            <label form="size">Size:</label>
                            <select name="size" id="size">
                            <option value="{{product.size}}" style="display: none;">{{ product.size | capitalize }}</option>
                                {% for size in sizes %}
                                    {% set siz = size.split(',') %}
                                    <option value="{{ siz[0] }}">{{ siz[0]|capitalize }}</option>
                                {% endfor %}
                            </select>
{#                            {{ product.size }}#}
                        </td>
                        <td>
                            {% set index = key|int - 1 %}
                            {% set product_stock = items[index]['quantity'] %}
                            {% set max_stock = product.quantity|int + product_stock %}

                            <input type="number" name="quantity" min="1" max="{{ max_stock }}" value="{{ product.quantity }}">
                        </td>
                        <td>{{ product.price }} zł</td>
                        {% set subtotal = product.price|int * product.quantity|float %}
                        <td>{{ subtotal }} zł</td>
                        <td><button type="submit" class="btn btn-sm" style="border-radius: 15px; color: white; background-color: #7fa9e1">Update</button> </td>
                        </form>
                        <td>
                            <a href="{{url_for('deleteitem', id=key)}}" class="btn btn-sm" style="background-color: #f1acac; color: #ffffff; border-radius: 15px">Delete</a>
                        </td>

                    </tr>
                    {% endfor %}

                    <tr>
                        <td></td>
                        <td colspan="4"><a href="/clearcart" class="btn btn-sm" style="background-color: #b180cc; color: #ffffff; border-radius: 15px;">Empty cart</a></td>
    {#                    <td colspan="3">Tax: {{ tax }}</td>#}
                        <td collspan="3"><h3>Grand Total: {{ grandtotal }} zł</h3></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td colspan="3">
                            <a href="/offer"><h6>Continue shopping</h6></a>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="2">
                            {% if current_user.is_authenticated %}
                                <a href="{{ url_for('get_order')}}" class="btn btn-sm" style="padding: 5px; border-radius: 15px; color: white; background-color: #3bc28f">
                                    <h5 style="color: #ffffff">Check out</h5>
                                </a>
                            {% else %}
                                <a href="login" class="btn btn-sm" style="padding:5px; border-radius: 15px; color: white; background-color: #3bc28f">
                                    <h5 style="color: #ffffff">Check out</h5>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content%}