{% extends "layout.html" %}
{% block content %}
    <h1>Offer page</h1>
{% endblock content%}


<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm">
                <thead>
                    <th>Nr</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                <tbody>
                    {% for key, product in orders.orders.items() %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.size }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.price }} zł</td>
                        {% set subtotal = product.price|int * product.quantity|float %}
                        <td>{{ subtotal }} zł</td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="3"></td>
                        <td collspan="3"><h6>Grand Total: {{ grandtotal }} zł</h6></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
