{% extends "layout.html" %}
{% block content %}

<div class="container mt-5" >
    <div class="row">
        <div class="col-md-6" id="b_image" style="width: 100%; background-color: #ffffff">
            <img style="padding: 10px; position: relative;" src="{{ url_for('static', filename='pictures/'+product.image) }} " alt="{{ product.name }}" width="400" height="400">
        </div>

        <div class="col-md-6" style="background-color: #ffffff;">
            <h4 style="margin-top: 20px; font-family: Alfa Slab One; font-weight: bold">Product name: {{ product.name }}</h4>
            <hr>
            <p style="font-family: Alfa Slab One;font-size: 18px; color: #233267">price: {{ product.price }} zł</p>
            <b style="font-size: 20px;font-family: Alfa Slab One;">Product Description</b>
            <hr>
            <p style="font-size:15px; font-family: Alfa Slab One;">{{ product.description }}</p>
            <hr>
            <form action="{{ url_for('AddCart') }}" method='post'>
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <button type="submit" class="btn btn-sm" style="border-radius: 12px; background-color: #3594b4; color: #ffffff; padding: 8px">Add cart</button>
                <label form="" style="font-size: 15px; margin-left: 8px">Quantity</label>
                <input type="number" name="quantity" id="" value="1" min="1" max="{{ product.quantity}}">
                {% set sizes = product.size.split(',') %}
                <label form="size" style="font-size: 15px;">Size:</label>
                <select name="size" id="">
                    {% for size in sizes %}
                        {% print(size) %}
                        {% set siz = size.split(',') %}
                        <option value="{{ siz[0] }}">{{ siz[0]|capitalize }}</option>
                    {% endfor %}
                </select>
            </form>
{#            <a href="" class="btn btn-warning">Add to Cart</a>#}

        </div>
    </div>


</div>

{% endblock content%}