{% extends "layout.html" %}
{% block content %}

    <div class="content">
        <div class="row">
            <div class="thanks-content">
                 <div class="thanks-centered">
                    <p style="font-weight: bold;font-family: Alfa Slab One; font-size: 40px">Thanks for your shopping</p>
                    <a href="{{ url_for('home')}}">
                        <button style="color:#ffffff; font-size: 20px; border-radius: 15px; background-color: #8fd2f1; border: none">
                            Explore
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>

{% endblock content%}
