{% extends "layout.html" %}
{% block content %}

<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm">
                <thead style="background-color: rgba(137,220,252,0.65)">
                    <th>Nr</th>
                    <th>Ski Pass</th>
                    <th>Time/Ride amout</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th></th>
                </thead>
                <tbody style="background-color: #ffffff">
                    {% for ticket in tickets %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ ticket['ski_pass'] }}</td>
                        <td>{{ ticket['amount']}}</td>
                        <td>{{ ticket['type']}}</td>
                        <td style="color:#8840be;">{{ ticket['price'] }} zł</td>

                        <form action="{{ url_for('get_ticket', ticket_id=ticket['id']) }}" method="post">
                        <td>
                            <input type="number" name="quantity" min="1" max="10" value="1">
{#                            <button type="submit" style="background-color: #40d5b6; color: #ffffff; border-radius: 15px; border: none">#}
{#                                Buy#}
{#                            </button>#}
                        </td>
{#                        </form>#}
                        <td>
                            {% if current_user.is_authenticated %}
                            <button style="background-color: #40d5b6; color: #ffffff; border-radius: 15px; border: none">
                                Buy
                            </button>

                            {% else %}
                                <a href="login" class="btn btn-sm" style="background-color: #40d5b6; color: #ffffff; border-radius: 15px">
                                    Buy
                                </a>
                            {% endif %}

                        </td>
                        </form>
                    </tr>
                    {% endfor %}


{#                    <tr>#}
{#                        <td></td>#}
{#                        <td colspan="3">#}
{#                            <a href="/offer"><h6>Continue shopping</h6></a>#}
{#                        </td>#}
{##}
{#                    </tr>#}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content%}